.title-screen {
	position: absolute;
    display: flex;
	top: 0;
	right: 0;
	z-index: 2;
	width: 100%;
    height: 100%;
   .title-screen_logo {
        margin: 5px auto 0;
        width: 50%;
        height: 30%;
        object-fit: contain;
   }
    .keyboard-menu {
        display: flex;
        flex-direction: column;
        bottom: 20px;
        height: 100px;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        button {
            width: 100%;
            margin-bottom: 16px;
            color: white;
           
            &:focus::before {
                color: white;
            }
        }
        &::before {
        border-radius: 3px;
        padding-top: 10px;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        }
        .keyboard-menu-option {
            margin: 3px 0 0 4px;
        }
    }
    
    .description-box {
        display: none;
    }
}