.keyboard-menu {
	position: absolute;
	justify-content: left;
	flex-wrap: wrap;
	z-index: 1;
}
.keyboard-menu::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 54px;
	border: 3px solid #7c78a4;
	outline: 2px solid #2a3214;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
	top: 0;
	left: 0;
	background: white;
	z-index: -1;
}
.keyboard-menu button {
	position: relative;
	width: 70px;
	text-align: left;
	margin: 8px 0 0 14px;
	-webkit-appearance: none;
	background: none;
	outline: none;
	font-size: 10px;
	color: rgb(44, 44, 44);
	text-shadow: -1px 1px 1px rgba(49, 49, 49, 0.3);
	cursor: pointer;
}
.keyboard-menu button:focus::before {
	content: "⯈";
	position: absolute;
	top: -8px;
	left: -16px;
	font-size: 16px;
	color: rgb(44, 44, 44);
	animation: arrow-left-and-right infinite 3s;
}

.keyboard-menu .option {
	position: relative;
}
.keyboard-menu .option .right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.description-box {
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 64%;
	height: 60px;
	color: rgb(216, 216, 216);
	border: 2px solid #c8a848;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
	z-index: 1;
}
.description-box-text {
	height: 100%;
	border-radius: 1px;
	padding: 8px;
}
.description-box p {
	text-shadow: -1px 2px 2px rgba(49, 49, 49, 1);
	font-size: 10px;
	line-height: 16px;
	margin: 0;
}

.keyboard-menu button[data-description="Return to previous page"] {
	position: absolute;
	bottom: 4px;
	right: 4px;
	text-align: right;
	transform: scaleY(1.4);
}
.keyboard-menu button[data-description="Return to previous page"]:focus::before {
	display: none;
}

/* battle specific */
.battle .keyboard-menu {
	right: 8px;
	bottom: 4px;
	display: flex;
    justify-content: center;
    height: 58px;
	width: 35%;
    padding: 5px 0 5px 10px;
}

.battle .keyboard-menu span {
	font-size: 8px;
	color: rgb(44, 44, 44);
	text-shadow: -1px 1px 1px rgba(49, 49, 49, 0.3);
}

@keyframes arrow-left-and-right {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0);
	}
}