.player-animation {
	position: absolute;
	width: 200px;
	height: 100%;
	z-index: 9;
}
.enemy-animation {
	position: absolute;
	right: 0;
	width: 200px;
	height: 100%;
	z-index: 9;
}



@keyframes battle-movement-right {
	0% {
		transform: translateX(0) scale(0.6);
	}
	25% {
		transform: translateX(15px) scale(0.6);
	}
	100% {
		transform: translateX(0) scale(0.6);
	}
}
.battle-movement-right {
	animation: battle-movement-right 0.6s;
}

@keyframes battle-movement-left {
	0% {
		transform: translateX(0) scale(0.6);
	}
	25% {
		transform: translateX(-15px) scale(0.6);
	}
	100% {
		transform: translateX(0) scale(0.6);
	}
}
.battle-movement-left {
	animation: battle-movement-left 0.6s;
}


.thunder-shock {
	width: 160px;
	height: 160px;
	background-image: url(../../../assets/graphics/battle/animations/electric2.png);
	background-repeat:no-repeat;
	animation-name: thunder-shock;
	animation-duration: 0.8s;
	animation-timing-function: steps(5);
	z-index: 1;
	opacity: 0;
	transform: scale(0.7);
  }
  
  @keyframes thunder-shock {
	0% {
	  background-position-x: 0px;
	  opacity: 1;
	}
	99% {
		background-position-x: -1899px;
		opacity: 1;

	}
	100% {
	  background-position-x: -1900px;
	  opacity: 0;
	}
  }