@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: #020304;
    overflow: hidden;
}
h2 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    padding: 16px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.6;
    }
}
.game-container {
    position: relative;
    width: 512px;
    height: 288px;
    margin: 2% auto ;
    outline: 1px solid #fff;
    overflow: hidden;
    transform-origin: top ;
    canvas {
        position: absolute;
        image-rendering: pixelated;
        transform: translateY(-112px) translateX(-208px);
        transition: 1000ms;
    }
    
}
